HTTPS=false
REACT_APP_TENDERLY_SIMULATE_ENDPOINT_URL=
REACT_APP_TENDERLY_PROJECT_NAME=
REACT_APP_TENDERLY_ORG_NAME=

REACT_APP_GATEWAY_BASE_URL=

# Explorer API keys (Tx Builder)
REACT_APP_ETHERSCAN_API_KEY=
REACT_APP_SOCIALSCAN_API_KEY=
REACT_APP_CRONOS_ZK_EVM_API_KEY=
REACT_APP_CRONOS_API_KEY=
REACT_APP_CRONOS_TESTNET_API_KEY=
REACT_APP_SUBSCAN_API_KEY=

# Required only to deploy your own Smart Contract using command line
INFURA_KEY=
PRIVATE_KEY=
ETHERSCAN_API_KEY=
